@import '@assets/scss/global';


.game-card {
    width: 185px;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px 0px;

    .card-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 140px;
        img {
            height: 100px;
            width: 100px;
        }
    }

    .card-content {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        // border-top: 1px solid #858f97;

        .card-title {
            font-size: 16px;
            color: #f69600;
            text-align: center;
        }
    }
}
