REACT_APP_API = <API_HOST>/
REACT_APP_ENV = dev
GENERATE_SOURCEMAP = false
CI = false
IMAGE_INLINE_SIZE_LIMIT = 0
REACT_APP_ENABLE_EXPOSURE = true
REACT_APP_GAME_API = <GAME_HOST>/
REACT_APP_SITE_URL = <FRONTEND_HOST>/
